<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

Exercise 2
# Data Science Tools and Ecosystem

# Data Science Tools and Ecosystem

Exercise 3
In this notebook, Data Science Tools and Ecosystem are summarized.

In this notebook, Data Science Tools and Ecosystem are summarized.

Exercise 10
**Objectives:**
- List popular languages for Data Science
- List commonly used libraries for Data Science
- Understand the Data Science tools and their applications.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries for Data Science
- Understand the Data Science tools and their applications.

Exercise 4
Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java
4. SQL

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java
4. SQL

Exercise 5
Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. Scikit-learn
5. TensorFlow

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. Scikit-learn
5. TensorFlow

Exercise 6
| Data Science Tools |
|--------------------|
|  Jupyter Notebook  |
|      R Studio      |
| Zeppelin Notebooks |

Exercise 6
| Data Science Tools |
|:-------------------:|
|  Jupyter Notebook  |
|      R Studio      |
| Zeppelin Notebooks |

Exercise 7
### Below are a few examples of evaluating arithmetic expressions in Python.

### Below are a few examples of evaluating arithmetic expressions in Python.

In [8]:
# Exercise 8
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [10]:
# Exercise 9
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

# Exercise 11
## Author
Alan Kwong

## Author
Alan Kwong